* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(21, 32, 43)
}

.viewer {
    margin: 3em 3em 0 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.analysis-form {
    display: inline-block; 
}

