.analyze-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.analyze-button {
    margin: 3em 0 0 15em;
    display: block;
    cursor: pointer;
    background-color: rgb(29, 161, 242);
    color: white;
    border-radius: 2em;
    height: 3.2em;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    outline: none;
}

.twitter-textarea {
    outline: none;
    background-color: rgb(21, 32, 43);
    resize: none;
    height: 5em;
    color: white;
    font-size: 1em;
    width: 20em;
    border-color: rgb(56, 68, 77);
}

